html {
  font-family: sans-serif;
  background-color: rgb(35,35,35);
  color: rgb(185,185,185);
}

a {
	color: rgb(0,145,255);
}

a:visited {
	color: rgb(0,85,215);
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(130,130,130);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(85,85,85);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(50,50,50);
}

tr:nth-child(odd) td {
  background-color: rgb(65,65,65);
}

caption {
  padding: 10px;
}